* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;

  body {
    width: 100%;
    height: 100%;

    #app {
      width: 100%;
      height: 100%;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}